:root{
    --button-color: rgb(44, 241, 241);
}
*{
    padding: auto;
    margin: auto;
    box-sizing: border-box;
    background: #0d2335;
    color: #fff;

}
main{
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    max-width: 100vw;
    justify-content: center;
    align-items: center;


}
.title{
    position: absolute;
    top: 0;
    font-size: 2.5rem;
    
     
}
.score{
    display: flex;
    max-width: 30vw;
    justify-content: space-evenly;
    position: absolute;
    top: 100px;
    z-index: 1;
}
.playerscore, .computerscore{
    padding: 2.5rem;
    margin: auto;
}
.p-count,.c-count{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
}
.options{
    display: flex;
    max-width: 50vw;
    justify-content: space-evenly;
    margin-top: 2rem;

}
.rock, .paper, .scissors{
    margin: 4rem 2rem 2rem 0;
    padding: 2.5rem 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: larger;
    font-weight: bolder;
    text-transform: capitalize;
    max-width: 100px;
    border-radius: 10px;
    background: var(--button-color);
    outline: none;
    border-color: var(--button-color);
    border: none;
    cursor: pointer;

}
.move{
    margin: 17rem 0 0 0;
    font-size: 2.5rem;
    font-weight: bold;
    

}
.reload{
    display: none;
    margin-top: 2rem;
    padding: 1rem;
    background: var(--button-color);
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;

}
.result{
    margin-top:  20px;
    font: 1.2rem;
}
@media screen and (max-width: 612px){
    *{
        max-width: 100%;
        max-height: 100%;
        margin: 0px;
        padding: 0px;
        overflow: hidden;
    }
    main{
        display: flex;
        flex-direction: column;
        max-height: 100px;
        max-width: auto;
        justify-content: center;
        align-items: center;
    
    
    }
    .title{
        position: absolute;
        top: 30px;
        font-size: 1rem;
        word-spacing: 6px;
        text-align: center;

    }
    .score{
        display: flex;
        max-width: 2000vw;
        justify-content: space-evenly;
        position: absolute;
        top: 100px;
        z-index: 1;
    }
    .playerscore, .computerscore{
        padding: auto;
        margin: -30px 0 0 0;
    }
    .move{
        font-size: 28px;

    }
    .options{
        display: flex;
        max-width: 500px;
        justify-content: space-evenly;
        margin-top: 1rem;

    }
    .rock, .paper, .scissors{
        margin: 1rem .5rem .5rem 0;
        padding: .8rem 3rem ;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        font-size: larger;
        font-weight: bolder;
        text-transform: capitalize;
        border-radius: 10px;
        background: var(--button-color);
        outline: none;
        border-color: var(--button-color);
        border: none;
        cursor: pointer;
    
    }
    
}